
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
}

tr {
    /*background-color: #dddddd;*/
    background-color: #e8f0f1;
}

table, th, td {
    border: 1px solid black;
    /*margin-left: 10px !important;*/
    /*text-align: center !important;*/
}

.in-block {
    display: inline-block;
}

.expand {
    font-size: 12px;
    background: whitesmoke !important;
}

    .expand td {
        padding: 5px 8px;
        background-color: white !important;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.container {
    border-radius: 5px;
    /*background-color: #f2f2f2!important;*/
    padding: 20px;
}



.deafultText {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
